*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(202, 224, 255);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    justify-content: center;
}
main > *{
    
    flex-direction: column;
    min-height: 225px;
    min-width: 380px;

    background-color: white;
    padding: 25px;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}
#contenedor > *{
    display: flex;
    padding: 5px;
}
#contenedor h1{
    justify-content: center;
    padding-bottom:10px;
    font-size: 20px;
    color: rgb(241, 106, 4);
}
#recuadro{
    gap: 10px;
}
#recuadro button{
    color: white;
    width: 40%;
    height: 25px;
    background-color: rgb(241, 106, 4);
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
#elementos{
    flex-direction: column;
}
#recuadro input{
    width: 100%;
    outline: none;
    padding-left: 5px;
}
#elementos > * {
    border-bottom: 1px solid rgb(210, 210, 210);
}
#elementos div{
    display: flex;
    width: 100%;
    padding: 4px;
    align-items: center;
    justify-content: right;
    gap: 10px;
}
.colorSelect{
    color: black;
    cursor: pointer;
    transition: 0.2s;
}
.colorSelect.activo{
    color: green;
}
#iconoEliminar{
    cursor: pointer;
}